<!DOCTYPE html>
<html lang="en">
<head>
  <title>Doodle Guest View</title>
  <link rel="stylesheet" href="Guest.css">
</head>


<body style="margin: 0 !important; background-color: lightblue;">
    <header className="header" style="height:auto; width: 100%; background-color: darkcyan; 
    border-bottom: lightgray solid 1px; flex-direction: row; 
    justify-content: space-between; display: flex;">
        <div className="text" style="flex-wrap: wrap; padding-left: 20px;">
            <h2>
                Scheduling Site
            </h2>
        </div>
        <div className="text" style="flex-wrap: wrap; padding-right: 20px;">
            <h2>
              Guest
            </h2>
        </div>
    </header>

  <% if (locals.msg) { %>
      <h3 class="auth-fail-text" style="background-color: var(--success);">
          <%= msg %>
      </h3>
  <% } %>

  <div style="display: flex; justify-content: center;" >
    <div style="display: flex; justify-content: center; padding: 40px; border: 1px solid black;
                border-radius: 25px; width: fit-content; flex-direction: column;">
 
      <div class="row-div" style="display: flex; justify-content: center; border: 1px solid black;
                                  border-radius: 25px; width: fit-content; padding: 20px;">
        <form action="/addGuest" method="GET">
            <td>
                <input class="name-input" placeholder="Name" type="text" name="name" />
            </td>
            <%let timeValue = "";%>

            <%for (let row of availTimeSlots) { %>
                
                <%timeValue = row.SlotValue;%>
                    <td>
                    <label title="<%= timeValue %>">
                      <a><%= timeValue %></a>
                    </label>
                    <input type="checkbox" class="slot-check-box" value="True" />
                    </td>
            <% } %>
            <td>
              <button class="btn-save-guest" type="submit">SUBMIT</button>
            </td>
        </form>
      </div>
      

      <% let status;%>
      <% for (row of rows) { %>

      <div style="border: 1px solid black; border-radius: 20px; padding: 20px; margin-top: 30px;">
        <td>
          <input class="name-input" placeholder="Name" type="text" value="x"  disabled/>
        </td>
            <% for (let i=0; i < 10; i++)  { %>
            <% status = rows[`Slot${i}`] ? "checked" : undefined; %>
                
                <td style="margin-left: 20px; margin-right: 20px;">
                    <input type="checkbox" class="slot-check-box" disabled <%= status%>/>
                </td>
              

        <% } %>
      </div>
      
      <% } %>
    </div>
</div>
</body>
</html>
