<!DOCTYPE html>
<html lang="en">
<head>
  <title>Doodle Guest View</title>
</head>
<body>
  <h1 class="title">DOODLE!</h1>

  <% if (locals.msg) { %>
      <h3 class="auth-fail-text" style="background-color: var(--success);">
          <%= msg %>
      </h3>
  <% } %>

  <div>
    <div>
      <!-- guest form to add an entry -->
      <div class="row-div">
        <form action="/addGuest" method="GET">
            <td>
                <input class="name-input" placeholder="Name" type="text" name="name" />
            </td>
            <%let timeValue = "";%>

            <%for (let row of availTimeSlots) { %>
                
                <%timeValue = row.SlotValue;%>
                    <td>
                    <label title="<%= timeValue %>">
                      <a><%= timeValue %></a>
                    </label>
                    <input type="checkbox" class="slot-check-box" value="True" />
                    </td>
            <% } %>
            <td>
              <button class="btn-save-guest" type="submit">SUBMIT</button>
            </td>
        </form>
      </tr>
      

      <% let status;%>
      <% for (row of rows) { %>

        <tr>
        <td style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
        </td>
        <td>
          <input class="name-input" placeholder="Name" type="text" value="x"  disabled/>
        </td>
            <% for (let i=0; i < 10; i++)  { %>
            <% status = rows[`Slot${i}`] ? "checked" : undefined; %>
                <td>
                    <input type="checkbox" class="slot-check-box" disabled <%= status%>/>
                </td>

        <% } %>
        
      </tr>
      <% } %>
    </div>
</div>
</body>
</html>
