<!DOCTYPE html>
<html lang="en">
<head>
  <title>Doodle Guest View</title>
</head>
<body>
  <h1 class="title">DOODLE!</h1>

  <% if (locals.msg) { %>
      <h3 class="auth-fail-text" style="background-color: var(--success);">
          <%= msg %>
      </h3>
  <% } %>

  <div>
    <div>
      <!-- guest form to add an entry -->
      <div class="row-div">
        <form action="/addGuest" method="GET">
            <td>
                <input class="name-input" placeholder="Name" type="text" name="name" />
            </td>

            <% for (let i = 1; i <= slotCount; i++) { %>
                <%  let timeValue = "";%>
                <%for (let i=0: i < slotCount; i++) {%>
                    <%timeValue = row.SlotValue;%>
                    <td>
                    <label title="<%=timeValue%>"></label>
                    <input type="checkbox" class="slot-check-box" name="Slot_<%=i%>" value="True" />
                  </td>
            <% } %>

            <% } %>
            <td>
              <button class="btn-save-guest" type="submit">SUBMIT</button>
            </td>
        </form>
      </tr>

      <!-- data rows -->
      <% let status; %>
      <% for (let row of rows)  {   %>

      <tr>
        <td style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
        </td>
        <td>
          <input class="name-input" placeholder="Name" type="text" value="x"  disabled/>
        </td>
            <% for (let i=0; i < 10; i++)  { %>
            <% status = row[`Slot${i}`] ? "checked" : undefined; %>
                <td>
                    <input type="checkbox" class="slot-check-box" disabled>/>
                </td>

                <td>
                <input type="checkbox" class="slot-check-box" disabled />
                </td>
        <% } %>
        
      </tr>
        <% } %>
    </div>
</div>
</body>
</html>
