<!DOCTYPE html>
<html lang="en">
<head>
  <title>Doodle Admin View</title>
</head>
<body>
  <h1 class="title">
    doodle admin
  </h1>
  <h4 class="help-text">
    logged in as <em class="user-name"> <%= user %></em> &nbsp &nbsp
    <a href="/logout" class="btn-logout">LOGOUT</a>
  </h4>

  <% if (locals.msg) { %>
      <h3 class="auth-fail-text" style="background-color: var(--success);">
          <%= msg %>
      </h3>
  <% } %>

  <br>

  <table>
    <thead>
      <tr class="admin-input-row">
        <form action="/update-slots" method="GET" id="admin-slot-form">
        <th style="border-bottom-left-radius: 5px; border-top-left-radius: 5px;">
          <button type="submit" form="admin-slot-form" class="btn-save-admin" title="Submit">&#10003</button>
        </th>
        <th style="color: var(--marigold);">Name</th>

        <%%>
        <%  let timeName;%>
        <%  let timeValue;%>
        <%  for (let i=0: i < slotCount; i++) {  {%>
            <%//    timeName = row.SlotName;%>
            <% //   timeValue = row.SlotValue;%>
            <% %>
          <th>
            <textarea type="text" ></textarea>
          </th>
        <% } %>
        </form>
      </tr>
    </thead>
    <tbody>
      <!-- data rows -->
      <%%>
      <%   track the status of the checkboxes %>
      <% let status;%>
      <% for (let i=0: i < slotCount; i++) { %>
      
      <tr>
        <td>
          <input class="name-input" placeholder="Name" type="text" value="<%= row.Name %>" disabled/>
        </td>
        <%%>
         <% for (let i = 1; i <= slotCount; i++) { %>
            <%   status = row[`Slot${i}`] ? "checked" : undefined; %>
        <%%>
        <td>
          <input type="checkbox" class="slot-check-box" disabled <%= status %> />
        </td>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>

</body>
<html>
