<!DOCTYPE html>
<html lang="en">

    <head>
        <title>index</title>
        <link rel="stylesheet" href="index.css">
    </head>

    <header class="header" style=  "height:auto; width: 100%; background-color: beige; 
                    border-bottom: lightgray solid 1px; flex-direction: row; justify-content: space-between; display: flex;"
                    >
        <div class="text" style="flex-wrap: wrap; padding-left: 20px;">
            <h2>
                Scheduling Site
            </h2>
        </div>
        <div class="text" style="flex-wrap: wrap; padding-right: 20px;">
            <h2>
                akulka
            </h2>
        </div>
    </header>

    <body style="height: 100%; width: 100%; background-color: white">

        <div class="container" style=   "display: flex; flex-direction: row; justify-content: center;">
            <div class="login" style="flex-direction: column; display: flex; justify-content: center; flex-wrap: wrap;"> 
            
                <div className="login info" style="padding-top: 25px;
                            padding-bottom: 15px;
                            padding-left: 10px;
                            padding-right: 15px;
                            flex-wrap: wrap;"
                            >
                    <label>
                        <h1>Returning User</h1>
                    </label>
                </div>
    
                <div className="login info" style="padding-top: 25px;
                            padding-bottom: 15px;
                            padding-left: 10px;
                            padding-right: 10px;
                            flex-wrap: wrap;"
                            >
                    <label>
                        <b>User Name</b>
                    </label>
                    <input type="text" name="Uname" id="Uname" placeholder="UserName">
                </div>
                
                <div className="login info" style="padding-top: 25px;
                            padding-bottom: 15px;
                            padding-left: 10px;
                            padding-right: 10px;
                            flex-wrap: wrap;"
                >
                    <label>
                        <b>Password</b>
                    </label>
                    <input type="text" name="PWord" id="PWord" placeholder="Password">
                </div>
                <div className="login info" style="padding-top: 25px;
                            padding-bottom: 15px;
                            padding-left: 10px;
                            padding-right: 20px;
                            flex-wrap: wrap;"
                            >
                    
                    <Button href="/adminView" >User Login</Button>
                </div>
            </div>
            <div style="padding-top: 25px;
                        padding-bottom: 15px;
                        padding-left: 10px;
                        padding-right: 15px;">
                <h1>Welcome Guest</h1>
                <button href="/guestView" >Guest Login</button>
            </div>
        </div>

       

    </body>

</html>