<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Doodle Web App</title>
        <link rel="stylesheet" href="index.css">
    </head>

    <header class="header" style=  "height:auto; width: 100%; background-color: beige; 
                    border-bottom: lightgray solid 1px; flex-direction: row; justify-content: space-between; display: flex;"
                    >
        <div class="text" style="flex-wrap: wrap; padding-left: 20px;">
            <h2>
                Scheduling Site
            </h2>
        </div>
        <div class="text" style="flex-wrap: wrap; padding-right: 20px;">
            <h2>
                akulka
            </h2>
        </div>
    </header>

    <body style="height: 100%; width: 100%; background-color: white">

        <% if (locals.errMsg)   { %>
            <h3 class="errMsg"> <%= errMsg %> </h3>
        <% } %>

        <div class="container" style=   "display: flex; flex-direction: row; justify-content: center;">
           
            <div class="login" style="flex-direction: column; display: flex; justify-content: center; flex-wrap: wrap;"
                 action="/"> 
            
                <div className="login info" style="padding-top: 25px;
                            padding-bottom: 15px;
                            padding-left: 10px;
                            padding-right: 15px;
                            flex-wrap: wrap; flex-direction: column;"
                            >
                    <label>
                        <h1>Returning User</h1>
                    </label>
                </div>
                    <form className="login-info" style="padding-top: 25px;
                            padding-bottom: 15px;
                            padding-left: 10px;
                            padding-right: 10px;
                            flex-wrap: wrap;" action="/UserLogin"
                            method="POST"
                            >
                        <label>
                            <b>User Name</b>
                        </label>
                        <input type="text" name="userName" id="userName" placeholder="UserName">
                    
                        <label>
                            <b>Password</b>
                        </label>
                        <input type="password" name="password" id="password" placeholder="Password">
                        
                        <button type="submit" >Login</button>
                    </form>
                
            </div>
            <div style="padding-top: 25px;
                        padding-bottom: 15px;
                        padding-left: 10px;
                        padding-right: 15px;">
                <h1>Welcome Guest</h1>
                <a href="/guestView" >Guest Login</a> 
            </div>
        </div>

       

    </body>

</html>